@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>Medical Calculator</title>
    @RenderSection("head", required: false)
    <link rel="shortcut icon" href='@Url.Content("~/favicon.ico")' />
    <meta name="viewport" content="initial-scale=1 ">
    @Styles.Render("~/Content/appCss")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/medCalcApp")
</head>
<body>
    <div class="home-bg box">
        @*<div class="box container-fluid wrapper remove-padding">*@
        <div class="container-fluid home-bg remove-padding">
            <!-- top nav -->

            <div class="row home-content">
                @*class="row row-offcanvas row-offcanvas-left">*@


                <!-- sidebar -->
                @*<div class="col-md-2 col-sm-12 remove-padding home-sidebar-container">
                    @{Html.RenderPartial("_SideNav");}
                </div>*@
                <!-- /sidebar -->
                <!-- /top nav -->
                <div class="main-nav hidden-xs hidden-sm">
                    <label>
                        Clinical Calculators
                    </label>
                </div>
                <!-- main right col -->
                <div class="home-main col-md-12 col-sm-12 remove-padding">

                    <div class="container">

                        <!-- content -->
                        @RenderBody()
                        <!--/row-->
                    </div><!-- /padding -->
                </div>
                <!-- /main -->
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
</body>

</html>
